<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

	<input id="deptno" type="text" placeholder = "부서 번호 입력해주세요"/>
	<input id="dname" type="text" placeholder = "부서 이름 입력해주세요"/>
	<input id="loc" type="text" placeholder = "부서 위치 입력해주세요"/>
	<button type="button" onclick="join()">부서추가</button>
	
	
	<input id="d_deptno" type="text" placeholder = "부서 번호 입력"/>
	<button type="button" onclick="doDelete()">지워</button>
	
	<input id="u_deptno" type="text" placeholder = "부서 번호 입력해주세요"/>
	<input id="u_dname" type="text" placeholder = "부서 이름 입력해주세요"/>
	<input id="u_loc" type="text" placeholder = "부서 위치 입력해주세요"/>
	<button type="button" onclick="doUpdate()">부서 수정</button>

	<table id="dept">
	  <tr>
	  	<th>부서번호</th>
	    <th>부서이름</th>
	    <th>부서위치</th>
	  </tr>
	</table>
	
	
</body>
<script
	src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
></script>
	<script type="text/javascript">
	
	callMyAPI(); // 함수 호출
	
	function callMyAPI(){ 
		
		// ajax : 백엔드와 프론트가 통신하는 기능!
		// type : GET == Controller에 GetMapping
		// dataType : return 데이터를 json으로 받음
		var s = [];
		      $.ajax({ 
	    	  url: '/api/v1/dept',
	    	  type : 'GET', 
	    	  dataType : 'json',
	    	  success : function (response){
	    		  console.log(response);
	    		  for(var i in response){
	    			  
	    			  // tr, td 만들고 td안에 데이터 넣기
	    			var tr = '<tr><td>'+response[i].deptno+'</td><td>'
	    			+response[i].dname+'</td><td>'+response[i].loc+'</td></tr>';
	    			
	    			// 제이쿼리 식 append
	    			$("#dept").append(tr);
	    	  	  }	
	    	  }
	      });

	}
	function join(){
		
		var deptno = $('#deptno').val();
		var dname = $('#dname').val();
		var loc = $('#loc').val();
		
		var data = {
				"deptno" : deptno,
				"dname" : dname,
				"loc" : loc
				
		}
		$.ajax({
			url : '/api/v1/dept/join',
			type : 'POST',
			contentType : 'application/json',
			data : JSON.stringify(data),
			dataType : 'json',
			success : function(response){
				alert("부서추가");
				location.reload();
			}
		});
	}
	
	function doDelete(){
		
		var deptno = $('#d_deptno').val();
		
		$.ajax({
 	        url: '/api/v1/dept/'+deptno,
 	        type : 'DELETE',
 	        dataType: 'json',
 		    success: function (response) {
 		        	alert("부서 삭제");
 		        	location.reload(); // 강제 새로고침
 		        }
         });
	}
	
	function doUpdate(){
		
		var deptno = $('#u_deptno').val();
		var dname = $('#u_dname').val();
		var loc = $('#u_loc').val();
		
		var data = {
				"deptno" : deptno,
				"dname" : dname,
				"loc" : loc
				
		}
		$.ajax({
			url : '/api/v1/dept',
			type : 'PATCH',
			contentType : 'application/json',
			data : JSON.stringify(data),
			dataType : 'json',
			success : function(response){
				alert("부서 수정");
				location.reload();
			}
		});
		
	}
	


</script>
</html>